:root{
    --din-main-blue: #0098ff;
    --din-main-pink: #ff6482;
    --din-main-orange: #f37423;

    --din-text-card: #747474; 
    --din-text-normal: #9e9e9e; /* 一般灰字 */
    --din-text-disable-input: #e6e6e6;
    --din-text-disable-checkbox: #bbbbbb;

    /* --din-bg-red: #f44336; 購物車數字的背景 - 有關動態，先不用 */
    --din-bg-warning-msg: #fff3f5; /* 有小驚嘆號的提示訊息 */
    --din-bg-card-tag: #eeeeee; /* 卡片tag的背景 */
    --din-bg-page: #ececec; 
    --din-bg-order-item: #f8f8f8; /* 品項的背景 */
    --din-bg-disable-btn: #bbbbbb;
    --din-bg-state-success: #4caf50;
    --din-bg-notify-btn: #00b900;

    --din-icon-social: #444444;
    --din-icon-ashcan: #ababab;
    --din-icon-star: #f9a825; /* 卡片的星星 */
    --din-icon-category: #000000;
    --din-icon-notify-bell: #00b900;

    --din-letter-size-nav: 18px;
    --din-letter-size-nav-sub: 15px;
    --din-letter-size-card-title: 17px;
    --din-letter-size-input: 16px;
    --din-letter-size-footer: 18px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Noto Sans TC, sans-serif;
}

.text_blue{
    color: var(--din-main-blue);
}

.text_pink{
    color: var(--din-main-pink);
}

.text_orange{
    color: var(--din-main-orange);
}

.text_gray{
    color: var(--din-text-normal);
}

.text_card{
    color: var(--din-text-card);
}

.text_disable_input{
    color: var(--din-text-disable-input);
}

.text_disable_checkbox{
    color: var(--din-text-disable-checkbox);
}

.bg_blue{
    background-color: var(--din-main-blue);
}

.bg_pink{
    background-color: var(--din-main-pink);
}

.bg_orange{
    background-color: var(--din-main-orange);
}

.bg_warning_msg{
    background-color: var(--din-bg-warning-msg);
}

.bg_card_tag{
    background-color: var(--din-bg-card-tag);
}

.bg_page{
    background-color: var(--din-bg-page);
}

.bg_order_item{
    background-color: var(--din-bg-order-item);
}

.bg_disable_btn{
    background-color: var(--din-bg-disable-btn);
}

.bg_state_success{
    background-color: var(--din-bg-state-success);
}

.bg_notify_btn{
    background-color: var(--din-bg-notify-btn);
}

.icon_social{
    color: var(--din-icon-social);
}

.icon_ashcan{
    color: var(--din-icon-ashcan);
}

.icon_star{
    color: var(--din-icon-star);
}

.icon_category{
    color: var(--din-icon-category);
}

.icon_notify_bell{
    color: var(--din-icon-notify-bell);
}

.fz_17{
    font-size: var(--din-letter-size-card-title);
}

.fz_18{
    font-size: var(--din-letter-size-nav);
}

.fz_16{
    font-size: var(--din-letter-size-input);
}

.fz_15{
    font-size: var(--din-letter-size-nav-sub);
}